<html>
<head>
    <title>Apache Ignite Teamcity Bot - Admin - Tracked Branches</title>
    <link rel="icon" href="../img/leaf-icon-png-7066.png">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../css/style-1.5.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <script src="../js/common-1.6.js"></script>
    <script src="../js/testfails-2.2.js"></script>
</head>
<body>
<script>
var g_shownDataHashCodeHex = "";

$(document).ready(function() {
    $.getScript("../js/common-1.6.js", function(data, textStatus, jqxhr){ });
    $.getScript("../js/testfails-2.2.js", function(data, textStatus, jqxhr){ });
    
    $( document ).tooltip();
    loadData();

    $.ajax({ url: "/rest/branches/version",  success: showVersionInfo, error: showErrInLoadStatus });
});

function parmsForRest() {
    var curReqParms = "";
    var branch = findGetParameter("branch");
    if (branch != null) {
        curReqParms += "?branch=" + branch;
    }

    var checkAllLogs = findGetParameter("checkAllLogs");
    if (checkAllLogs != null) {
        curReqParms += "&checkAllLogs=" + checkAllLogs;
    }
    return curReqParms;
}


function loadData() {
    var app = new Vue({
        el: '#app',
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'Tracked branch name',
                    align: 'left',
                    value: 'name'
                },
                { text: 'Calories', value: 'calories' },
                { text: 'Fat (g)', value: 'fat' },
                { text: 'Carbs (g)', value: 'carbs' },
                { text: 'Protein (g)', value: 'protein' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            setData(data) {
                this.desserts = data;
            },
            initialize () {
                f = this.setData;
                /*
                https://bitbucket.org/digitalreactor/digitalreactor-platform-spa/src/master/src/components/projects/index.vue

                this.$http.get('/api/projects').then(response => {
        this.projects = response.body;
        this.$Progress.finish();
        if (this.projects.length === 0) {
          this.hasNotProjects = true;
        }
      }, response => {
        this.$Progress.fail();
      });
                */
                $.ajax({ url: "/rest/branches/getIds",
                    success: function (data) {
                        var preparedData = [];

                        for (let i = 0; i < data.length; i++) {
                            let name = data[i];

                            preparedData.push({
                                name: name,
                                calories: 159,
                                fat: 6.0,
                                carbs: 24,
                                protein: 4.0
                            })
                        }
                        f(preparedData);

                        $("#loadStatus").html("");
                    }, error: showErrInLoadStatus });

            },

            editItem (item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true;
            },

            deleteItem (item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.desserts.push(this.editedItem)
                }
                this.close()
            }
        }
    })

    var curFailuresUrl = "rest/tracked/results" + parmsForRest();
    
    $("#loadStatus").html("<img src='https://www.wallies.com/filebin/images/loading_apple.gif' width=20px height=20px> Please wait");
    // setTimeout(loadPartialData, 3000);

   /* $.ajax({
        url: curFailuresUrl,
        success: function (result) {
            if (isDefinedAndFilled(result.runningUpdates) && result.runningUpdates > 0) {
                setTimeout(checkForUpdate, 3000);

                $("#loadStatus").html("<img src='https://www.wallies.com/filebin/images/loading_apple.gif' width=20px height=20px> Updating");
            } else {
                $("#loadStatus").html("");
            }
            showData(result);
            g_shownDataHashCodeHex = isDefinedAndFilled(result.hashCodeHex) ? result.hashCodeHex : "";
        },
        error: showErrInLoadStatus
    });*/
}

function loadPartialData() {
    var curFailuresUrl = "rest/tracked/resultsNoSync" + parmsForRest();

    if (g_shownDataHashCodeHex !== "") {
        return;
    }
    $.ajax({
        url: curFailuresUrl,
        success: function (result) {
            if (g_shownDataHashCodeHex !== "") {
                return;
            }

            var validResult = true;
            for (var i = 0; i < result.servers.length; i++) {
                var server = result.servers[i];

                if (isDefinedAndFilled(server.buildNotFound) && server.buildNotFound) {
                    validResult = false;
                    break;
                }
            }
            if (validResult)
                showData(result);

            setTimeout(loadPartialData, 3000);
        },
        error: showErrInLoadStatus
    });
}

function showData(result) {
    //var txtUrl = "rest/tracked/results/txt" + parmsForRest();

    $("#divFailures").html(showChainOnServersResults(result));
    //        + " <a href='"+ txtUrl + "'>txt</a>");
}

</script>

<div id="loadStatus"></div>
<div id="divFailures"></div>
<div id="app">
    <v-app id="inspire">
        <div>
            <v-toolbar flat color="white">
                <v-toolbar-title>Tracked branches</v-toolbar-title>
                <v-divider
                        class="mx-2"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4>
                                        <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table
                    :headers="headers"
                    :items="desserts"
                    class="elevation-1"
            >
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.calories }}</td>
                    <td class="text-xs-right">{{ props.item.fat }}</td>
                    <td class="text-xs-right">{{ props.item.carbs }}</td>
                    <td class="text-xs-right">{{ props.item.protein }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                                small
                                class="mr-2"
                                @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </template>
                <template v-slot:no-data>
                    <v-btn color="primary" @click="initialize">Reset</v-btn>
                </template>
            </v-data-table>
        </div>
    </v-app>
</div>

<div id="version"></div>
<div style="visibility:hidden;"><div id="triggerConfirm" title="Trigger Confirmation"></div><div id="triggerDialog" title="Trigger Result"></div></div>
</body>
</html>