body {
    font-family: Arial, sans-serif;
 	font-size: 14px;
 	font-style: normal;
 	font-variant: normal;
 	font-weight: 500;
}

input, div {
    font-family: Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    margin-left: 3px;
    margin-right: 3px;
}

table, tr, td {
    font-family: Arial, sans-serif;
 	font-size: 14px;
 	font-style: normal;
 	font-variant: normal;
 	font-weight: 500;
 	vertical-align: top;
 	border-spacing: 0px;
}

table.stat td, table.stat th {
	padding: 10px 5px 10px 5px;
}

table.stat th {
	text-align: left;
	padding: 5px;
	background-color: #f5f5ff;
	color: #000000;
}

table.stat tr:nth-child(odd) { background-color: #fafaff; }

.table-title
{
	border: solid black;
	border-width: 1px 0;
	font-size: 20px;
	padding: 5px;
}

.logMsg {
	font-size: 12px;
	font-family:'Lucida Console',
    monospace
}

.container {
    width:100%;
    border:0px solid #d3d3d3;
}

.container .content {
    display: none; 
}

/* The navigation bar */
.navbar {
     overflow: hidden;
    background-color: #f2f2f2;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    //color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    color: white;
    background: #125CAA;
    transition: ease-in 0.175s;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

input[type=button], input[type=submit], button {
	background: #12AD5E;
	height: 24px;
	color: #FFF;
	font-weight: bold;
	font-family: sans-serif;
	margin: 5px;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
    border: 1px solid #FFF;
    border-radius: 3px;
    transition: ease-in 0.175s;
    text-align: center;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    cursor: pointer;
    background: #125CAA;
    transition: ease-in 0.175s;
}

form, .formgroup {
	margin: 0px auto;
	padding: 5px;
	background: #FFF;
	margin-top: 20px;
	border-radius: 4px;
    border: 1px solid #cfcfcf;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
}

.disabledbtn {
	background: #b4b4b4;
}

.idxpgbutton {
    width: 100px;
    min-height: 100px;
    height: 100px;
	border-radius: 3px;
}

.visaStage {
	float: left;
	background: #b4b4b4;
	height: 30px;
	width: 30px;
	color: #FFF;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
    display: table-cell;
    vertical-align: middle;
	align-items: center;
	margin: 8px;
    line-height: 30px;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
	border: 1px solid #FFF;
	border-radius: 15px;
	transition: ease-in 0.175s;
	text-align: center;
}

html {
    min-height: 100%;
    //background: radial-gradient(ellipse at center, #FFFFFF 0%, #f2fff0 100%);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

.compare {
	width: 96%;
	border-collapse: collapse;
	margin-left: 2%;
	margin-right: 2%;
}
.compare td, .compare th {
	padding: 10px 5px 10px 5px;
}

.data {
	text-align: center;
	vertical-align: middle;
}

.section {
	font-weight: bold;
}

.compare .field {
	padding-left: 15px;
}

.compare th {
	text-align: left;
	padding: 5px;
	background-color: #f5f5ff;
	color: #000000;
}

.compare .title {
	text-align: center;
	font-size: 10px;
	color: gray;
}

.compare tr:nth-child(4n-1) {
	background-color: #fafaff;
}

.testsCntCell {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.testsCell {
	cursor: default;
	word-wrap: break-word;
	vertical-align: top;
}

.testsRow {
	display: none;
}

.suiteCell {
	cursor: default;
	vertical-align: middle;
	padding: 15px;
}

.testsSuiteCell {
	cursor: pointer;
}

.testsCntRow {
	padding: 10px
}

.testsTable {
	width: 96%;
	border-collapse: collapse;
	margin-left: 2%;
	margin-right: 2%;
}

.testsTable tr:nth-child(4n + 2) {
	background-color: #fafaff;
}

.failedTestsHeader {
	vertical-align: middle;
	text-align: left;
	padding: 5px
}

td.details-control {
	//background: url('../resources/details_open.png') no-repeat center center;
	cursor: pointer;
	//content: "+&#x2796";
}
tr.shown td.details-control {
	//content: "&#x2796";

	//url('../resources/details_close.png') no-repeat center center;
}

rect {
	fill: red;
	stroke: black;
	stroke-width: 0;
}

.dot {
	opacity: 0.5;
	fill: #4682B4;
}

.hidden-dot {
	opacity: 0.5;
	fill: #E60000;
}

.mark-dot {
	opacity: 0.5;
	fill: #FF9800;
}

line {
	fill: none;
	shape-rendering: crispEdges;
	pointer-events: none;
}

.axis path {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

div.tooltip {
	position: absolute;
	text-align: center;
	padding: 2px;
	border-radius: 8px;
	font: 14px sans-serif;
	border: 1px;
	color: white;
	height: 15px;
}

.buildDate {
	width: 140px;
	background: #12AD5E;
}

.condition {
	width: 18px;
	background: #E60000;
}

.mark {
	width: 18px;
	background: #FF9800;
}

.switch-btn {
	display: inline-block;
	width: 23px;
	height: 14px;
	border-radius: 9px;
	background: #bfbfbf;
	z-index: 0;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	position: relative;
	transition-duration: 300ms;
}

.switch-btn::after {
	content: "";
	height: 12px;
	width: 12px;
	border-radius: 7px;
	background: #fff;
	top: 1px;
	left: 1px;
	transition-duration: 300ms;
	position: absolute;
	z-index: 1;
}

.switch-on {
	background: #12AD5E;
}

.switch-on::after {
	left: 10px;
}

.icon {
	text-align: center;
}

.ui-dialog button{
	height: auto;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #12AD5E;
}

input:focus + .slider {
	box-shadow: 0 0 1px #12AD5E;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fefefe;
    padding: 10px;
    border: 5px solid #12AD5E;
    width: 30%;
}

.close {
    color: #12AD5E;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fas.fa-check-circle {
	font-size: 48px;
	color: #12AD5E;
}

.fas.fa-exclamation-circle {
	font-size: 48px;
	color: #E60000;
}
