body {
 	font-family: Arial;
 	font-size: 12px;
 	font-style: normal;
 	font-variant: normal;
 	font-weight: 500;
}

input {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}