body {
    font-family: Arial, sans-serif;
 	font-size: 14px;
 	font-style: normal;
 	font-variant: normal;
 	font-weight: 500;
}

input, div {
    font-family: Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    margin-left: 3px;
    margin-right: 3px;
}

table, tr, td {
    font-family: Arial, sans-serif;
 	font-size: 14px;
 	font-style: normal;
 	font-variant: normal;
 	font-weight: 500;
 	vertical-align: top;
 	border-spacing: 0px;
}

table.stat td, table.stat th {
	padding: 10px 5px 10px 5px;
}

table.stat th {
	text-align: left;
	padding: 5px;
	background-color: #f5f5ff;
	color: #000000;
}

table.stat tr:nth-child(odd) { background-color: #fafaff; }

.table-title
{
	border: solid black;
	border-width: 1px 0;
	font-size: 20px;
	padding: 5px;
}

.logMsg {
	font-size: 12px;
	font-family:'Lucida Console',
    monospace
}

.container {
    width:100%;
    border:0px solid #d3d3d3;
}

.container .content {
    display: none; 
}

/* The navigation bar */
.navbar {
     overflow: hidden;
    background-color: #f2f2f2;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    //color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    color: white;
    background: #125CAA;
    transition: ease-in 0.175s;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

input[type=button], input[type=submit], button {
	background: #12AD5E;
	height: 24px;
	color: #FFF;
	font-weight: bold;
	font-family: sans-serif;
	margin: 5px;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
    border: 1px solid #FFF;
    border-radius: 3px;
    transition: ease-in 0.175s;
    text-align: center;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    cursor: pointer;
    background: #125CAA;
    transition: ease-in 0.175s;
}

form, .formgroup {
	margin: 0px auto;
	padding: 5px;
	background: #FFF;
	margin-top: 20px;
	border-radius: 4px;
    border: 1px solid #cfcfcf;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
}

.disabledbtn {
	background: #b4b4b4;
}

.idxpgbutton {
    width: 100px;
    min-height: 100px;
    height: 100px;
	border-radius: 3px;
}

.visaStage {
	float: left;
	background: #b4b4b4;
	height: 30px;
	width: 30px;
	color: #FFF;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
    display: table-cell;
    vertical-align: middle;
	align-items: center;
	margin: 8px;
    line-height: 30px;
	box-shadow: 3px 2px 6px -2px rgba(0,0,0,0.64);
	border: 1px solid #FFF;
	border-radius: 15px;
	transition: ease-in 0.175s;
	text-align: center;
}

html {
    min-height: 100%;
    //background: radial-gradient(ellipse at center, #FFFFFF 0%, #f2fff0 100%);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

.compare {
	width: 96%;
	border-collapse: collapse;
	margin-left: 2%;
	margin-right: 2%;
}
.compare td, .compare th {
	padding: 10px 5px 10px 5px;
}

.data1, .data2{
	text-align: center;
	vertical-align: middle;
}

.section{
	font-weight: bold;
}

.compare .field{
	padding-left: 15px;
}

.compare th {
	text-align: left;
	padding: 5px;
	background-color: #f5f5ff;
	color: #000000;
}

.compare .title {
	text-align: center;
	font-size: 10px;
	color: gray;
}

.compare tr:nth-child(4n-1) {
	background-color: #fafaff;
}


td.details-control {
	//background: url('../resources/details_open.png') no-repeat center center;
	cursor: pointer;
	//content: "+&#x2796";
}
tr.shown td.details-control {
	//content: "&#x2796";

	//url('../resources/details_close.png') no-repeat center center;
}
rect {
	fill: red;
	stroke: black;
	stroke-width: 0;
}

.dot {
	opacity: 0.5;
	fill: grey;
}

line {
	fill: none;
	stroke: green;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 150px;
	height: 15px;
	padding: 2px;
	margin-left: 50px;
	margin-top: 5px;
	font: 14px sans-serif;
	background: #12AD5E;
	border: 1px;
	border-radius: 8px;
	pointer-events: none;
	color: white;
}

.ui-dialog button{
	height: auto;
}

