# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IDEA project
.idea/
.gigaide/
*.iml
*.ipr

# gradle build files
.gradle/
/build/
/*/build/
/out/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/conf/branches-prom.json
/ignite-tc-helper-web/ignite/**
/ignite-tc-helper-web/src/test/tmp/**
/migrator/src/test/work/**


/ignite-tc-helper-web/ignite/**
/ignite-tc-helper-web/src/test/tmp/**