<html>
<head>
    <title>Apache Ignite Teamcity Bot - Current Failures</title>
    <link rel="icon" href="img/leaf-icon-png-7066.png">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/style-1.5.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="js/common-1.6.js"></script>
    <script src="js/testfails-2.2.js"></script>
</head>
<body>
<script>
var g_shownDataHashCodeHex = "";
var gVue;

function genLink() {
    let newUrl = "./current.html?";

    var branch = findGetParameter("branch");
    newUrl += "branch=" + (branch != null ? branch : "master");

    if (isDefinedAndFilled(gVue.$data.tagSelected))
        newUrl += "&tagSelected=" + gVue.$data.tagSelected;

    if (gVue.$data.displayMode != null)
        newUrl += "&displayMode=" + gVue.$data.displayMode;

    let permalink = $("#permalink");
    permalink.attr("href", newUrl);

    permalink.html("Permalink");
}

function showQueryForm() {
    gVue = new Vue({
        el: '#vueQueryForm',
        data: {
            tagSelected: '',
            tagsPresent: [""],
            displayMode: 'Failures'
        },
        methods: {
            formChanged: function () {
                checkForUpdate();
                genLink();
            }
        }
    });

    let tagSelected = findGetParameter("tagSelected");
    if (tagSelected != null) {
        gVue.$data.tagsPresent.push(tagSelected);
        gVue.$data.tagSelected = tagSelected;
    }

    let displayMode = findGetParameter("displayMode");
    if (displayMode != null) {
        gVue.$data.displayMode = displayMode;
    }

    genLink();
}

$(document).ready(function() {
    $.getScript("js/testfails-2.2.js", function(data, textStatus, jqxhr){ });
    
    $( document ).tooltip();
    showQueryForm();
    loadData();

    $.ajax({ url: "/rest/branches/version",  success: showVersionInfo, error: showErrInLoadStatus });
});

function parmsForRest() {
    var curReqParms = "";
    var branch = findGetParameter("branch");
    if (branch != null) {
        curReqParms += "?branch=" + branch;
    }

    var checkAllLogs = findGetParameter("checkAllLogs");
    if (checkAllLogs != null) {
        curReqParms += "&checkAllLogs=" + checkAllLogs;
    }

    var trustedTests = findGetParameter("trustedTests");
    if (trustedTests != null) {
        curReqParms += "&trustedTests=" + trustedTests;
    }

    var tagSelected = gVue.$data.tagSelected;
    if (tagSelected != null) {
        curReqParms += "&tagSelected=" + tagSelected;
    }

    var displayMode = gVue.$data.displayMode;
    if (displayMode != null) {
        curReqParms += "&displayMode=" + displayMode;
    }

    return curReqParms;
}

function checkForUpdate() {
    var curFailuresUrl = "rest/tracked/updates" + parmsForRest();

    $.ajax({
        url: curFailuresUrl,
        success: function (result) {
            if (g_shownDataHashCodeHex !== "" && isDefinedAndFilled(result.hashCodeHex)) {
                if (g_shownDataHashCodeHex === result.hashCodeHex) {
                    var fastCheckNeeded = isDefinedAndFilled(result.runningUpdates) && result.runningUpdates > 0;
                    var ms = fastCheckNeeded ? 3000 : 30000;

                    setTimeout(checkForUpdate, ms);

                    $("#loadStatus").html("");
                } else {
                    loadData(); // data changed, show new
                }
            } else {
                loadData();
            }
        },
        error: showErrInLoadStatus
    });
}

function loadData() {
    var curFailuresUrl = "rest/tracked/results" + parmsForRest();
    
    $("#loadStatus").html("<img src='https://www.wallies.com/filebin/images/loading_apple.gif' width=20px height=20px> Please wait");
    setTimeout(loadPartialData, 3000);

    $.ajax({
        url: curFailuresUrl,
        success: function (result) {
            if (isDefinedAndFilled(result.runningUpdates) && result.runningUpdates > 0) {
                setTimeout(checkForUpdate, 3000);

                $("#loadStatus").html("<img src='https://www.wallies.com/filebin/images/loading_apple.gif' width=20px height=20px> Updating");
            } else {
                $("#loadStatus").html("");
            }
            showData(result);
            g_shownDataHashCodeHex = isDefinedAndFilled(result.hashCodeHex) ? result.hashCodeHex : "";
        },
        error: showErrInLoadStatus
    });
}

function loadPartialData() {
    var curFailuresUrl = "rest/tracked/resultsNoSync" + parmsForRest();

    if (g_shownDataHashCodeHex !== "") {
        return;
    }
    $.ajax({
        url: curFailuresUrl,
        success: function (result) {
            if (g_shownDataHashCodeHex !== "") {
                return;
            }

            var validResult = true;
            for (var i = 0; i < result.servers.length; i++) {
                var server = result.servers[i];

                if (isDefinedAndFilled(server.buildNotFound) && server.buildNotFound) {
                    validResult = false;
                    break;
                }
            }
            if (validResult)
                showData(result);

            setTimeout(loadPartialData, 3000);
        },
        error: showErrInLoadStatus
    });
}

function showData(result) {
    let setOfTags = new Set(gVue.$data.tagsPresent);
    for (let i = 0; i < result.servers.length; i++) {
        let chain = result.servers[i];

        for (let j = 0; j < chain.suites.length; j++) {
            let suite = chain.suites[j];

            if(isDefinedAndFilled(suite.tags)) {
                for (let k = 0; k < suite.tags.length; k++) {
                    const tag = suite.tags[k];

                    setOfTags.add(tag);
                }
            }
        }
    }

    gVue.$data.tagsPresent = Array.from(setOfTags);

    //var txtUrl = "rest/tracked/results/txt" + parmsForRest();

    $("#divFailures").html(showChainOnServersResults(result));
    //        + " <a href='"+ txtUrl + "'>txt</a>");
}

</script>

<div id="loadStatus"></div>

<div id="vueQueryForm" class="h-25">
    <v-app id="prQueryForm" name="prQueryForm" class="h-25">
        <span>Tag filter: </span>
        <select v-model="tagSelected" @change="formChanged">
            <option disabled value="">Please select one</option>

            <option v-for="option in tagsPresent" v-bind:value="option">
                {{ option }}
            </option>
        </select>
        <span>Display Mode: </span>
        <select v-model="displayMode" @change="formChanged">
            <option value="Failures">Show failures only</option>
            <option value="AllSuites">Show all suites</option>
        </select>
        <span> <a id="permalink"></a></span>
        <div id="divFailures"></div>
    </v-app>
</div>


<div id="version"></div>
<div style="visibility:hidden;"><div id="triggerConfirm" title="Trigger Confirmation"></div><div id="triggerDialog" title="Trigger Result"></div></div>
</body>
</html>